@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- this site uses BOOTSTRAP (goat). go to Views-> Shared -> _Layout to change the body and navbar -->
<!-- at model List<HoloTracker.Models.HololiveModel> -->


@model HoloTracker.Models.AllHololiveModel
@{
    ViewData["Title"] = "Home Page";
    
}
<div>
    <h3 class="display-4 text-white text-center">Vtuber Live Updater</h3>
    <center>
        <form asp-controller="Home" asp-action="Index">
            <table>
                <tr>
                    <td>
                        <select name="value" id="option">
                            <label for="streamer-state">State: </label>
                            <option disabled selected> -- select an option -- </option>
                            <option value="live">Live</option>
                            <option value="upcoming">Upcoming</option>
                        </select>

                        <select name="org" id="organization">
                            <label for="streamer-org">Organization: </label>
                            <option disabled selected> -- select an option -- </option>
                            <option value="Hololive">Hololive</option>
                            <option value="Independents">Independents</option>
                            <option value="Nijisanji">Nisanji</option>
                        </select>
                    </td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
    </center>
</div>

@if(Model == null)
{
    <div>
        <p class="text-white h1">Welcome to the Vtuber Live Checker. This utilizes the HoloDex API to retrieve information about Vtubers from Hololive, Nijisanji
            or Independents
        </p>
        <hr style="color:white">
        <h1 class="display-6 text-white">Search Bars</h1>
        <hr style="color:white">
        <div>
            <p class="text-white">The State search bar has a two states: Live and Upcoming.</p>
            <p class="text-white">Live represents the Vtuber talents currently streaming</p>
            <p class="text-white">Upcoming represents the Vtuber talents planning to stream within the next 48 hours.</p>
            <p class="text-white">The Organization Search Bar will filter Vtuber Streams: Hololive, Nijisanji, and Independents</p>
        </div>

        <h1 class="display-6 text-white">Search States</h1>
        <hr style="color:white">
        <div>
            <p class="text-white">Leaving the State search bar empty will return both Live and Upcoming streams </p>
            <p class="text-white">Leaving the Organization search bar empty will return Vtuber streams from Hololive, Nijisanji, and Independents</p>
            <p class="text-white">Leaving both search bars empty will return you to this screen</p>
            <p class="text-white">Have Fun Keeping up to date on Streams!</p>
        </div>

    </div>
}

@if (Model != null && Model.streamers.Count > 0)
{
    <div>
        <div class="title"><p class="text-white font-weight-bold h2 text-capitalize">@Model.state Streams from @Model.organization</p></div>
    </div>


    <table class="table table-bordered table-stripped table-sm">
        <thread>
            
            <tr>
                <th></th>
            </tr>
            <tr>
                <th class="text-white text-center">Img</th>
                <th class="text-white text-center">Channel Name</th>
                <th class="text-white text-center">Title</th>      
                <th class="text-white text-center">Link</th>
            </tr>
        </thread>

        <!-- how to query parameters and include more than one parameter ?channel_id=1&hide_channel_desc=1 -->
        <tbody>
            @foreach(var item in Model.streamers)
            {

                <tr>
                    <td>
                        <div>
                            <img src=@String.Format("{0}",item.channel.photo) width="70" height="70">
                        </div>
                    </td>
                    <td class="text-white">@Html.DisplayFor(modelItem => item.channel.name)</td>
                    <td class="text-white">@Html.DisplayFor(modelItem => item.title)</td>
                    
                    <td>
                        <div>
                            <a href=@String.Format("https://www.youtube.com/watch?v={0}",item.id)
                                target="_blank" rel="noopener noreferrer">Link</a>
                        </div>
                    </td>
                </tr>               
            }





        </tbody>


    </table>
}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
       
    </script>

    <!--  $(document).ready(function(){
            $(#option).on('change', function(){
                $(".title").hide();
                $("#" + $(this).val().fadeIn(700);
            }).change();
        });-->